<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg shadow-lg p-3 mb-0 rounded rounded" style="background-color: #364ed9;">
    <div class="container">
        <a class="navbar-brand border border-light bg-light" routerLink="/"><img src="../../assets/images/logo.png" height="40px" width="100%" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ml-auto">
                <p class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </p>
                <p class="nav-item">
                    <a class="nav-link" routerLink="/client/register">Sign Up</a>
                </p>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log In</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/client/login">As a User</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/admin/login">As an Admin</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="title">
    <div>
        <p class="h1 story">Our Story</p>
        <svg height="80" width="400">
                    <g fill="none">
                      <path stroke="white" stroke-width="6" d="M5 10 1200 0"/>
                    </g>
            </svg>
        <p class="tag">Bus Rental and Ride Corporation</p>
        <q>Enjoy the Ride with no Fear</q>
    </div>
</div>
<div class="about">
    <br>
    <p>Organized on May 25, 1993, established to cater the automotive repair and maintenance for its sister company, Vehicle Transit Services Corporation and other outside client. On February 1, 2005, Bus Rental Service Center Corporation underwent corporate
        reorganization and changed its primary business to bus rental, and just recently our corporate name BUS RENTAL & RIDE CORPORATION was adopted.</p>
    <br>
    <p>Now it operates Tourist Buses to the public and offers Tour Group, Corporate Shuttle, Educational Field Trips, Airport / Hotel Transfer and Pick-up & Drop-Off in any point of Visayas.</p>
    <br>
    <br>
    <p>A member of the Philippine Association of Tourist Transport Operators (PATTO) accredited by the Department of Tourism (DOT), GMR MEGAWIDE Cebu Airport Corporation (GMCAC) and licensed by the Land Transportation Franchising & Regulatory Board (LTFRB)
        both as Tourist Land Transport Operators and Shuttle Services.</p>
    <br>
    <p>More than Fifteen (15) Years experience in handling the Tourist Bus transportation requirements of various hotels such as: The Crown Regency Hotel, Waterfront Cebu Hotel and Resort, Radisson Blu Cebu, Hotel Jen Manila and Heritage Hotel, Companies
        such as Philippine Foremost Milling Corporation, Asian Development Bank and Fujitsu Ten Philippines.</p>
    <br>
    <br>
    <p>Operated by some of the most experienced and service oriented personnel in the transportation business namely: John Dave Pacinio as Chairman of the Board, Reina Mates as its President, Girly Coca as Vice President,Precy Jane Roxas as General Manager
        and Jenie Joy Tomalon as Operation Supervisor for Tourist Bus.</p>
    <br>
    <p>
        All drivers, maintenance personnel and staff undergo yearly medical and drug testing by a reputable DOH accredited industrial diagnostic center.</p>
</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Related Links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About</a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Developers</h5>
                <p class="text-white">John Dave Pacinio</p>
                <p class="text-white">Precy Jane Roxas</p>
                <p class="text-white">Reina Mates</p>
                <p class="text-white">Girly Coca</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Address</h5>
                <div class="text-white"><b>Branch 1: </b>Samjung Bldg., Nasipit Road, Talamban, Cebu City</div>
                <div class="text-white"><b>Branch 2: </b>San Albertos Carmelites Formation Center, Nasipit Talamban Cebu City </div>
            </div>

        </div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12  mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/shimmerphantik"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com/cassiefuents2"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.cassiefuents9"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.gmail.com/" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6 text-dark">© All right Reserved.<a class=" text-green ml-2 ">laravelsandAngulars Combi@gmail.com</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>