.centered {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button[type=submit]:disabled {
    position: absolute;
    top: 58%;
    left: 15%;
    background: white;
    border-radius: 30px 30px 30px;
    color: black;
    height: 90px;
    font-size: 30px;
    width: 70%;
    font-style: oblique;
}

button[type=submit] {
    border-radius: 20px 20px 20px;
    /* left: 0%; */
    /* right: 30%; */
}
.parallax{
    background-image: url('../../../assets/images/bg-1.png');

    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}