<!-- <ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul> -->



<div class="row">
    <div class="col-8">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-bookings" role="tabpanel" aria-labelledby="v-pills-bookings-tab" routerLink="admin/bookings">
                <app-bookings></app-bookings>
            </div>
            <div class="tab-pane fade" id="v-pills-buses" role="tabpanel" aria-labelledby="v-pills-buses-tab">
                <app-buses></app-buses>
            </div>
            <div class="tab-pane fade" id="v-pills-drivers" role="tabpanel" aria-labelledby="v-pills-drivers-tab">
                <app-drivers></app-drivers>
            </div>
            <div class="tab-pane fade" id="v-pills-user-profile" role="tabpanel" aria-labelledby="v-pills-user-profile-tab">
                <app-user-profile></app-user-profile>
            </div>
        </div>
    </div>



    <div class="col-4">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-bookings-tab" data-toggle="pill" href="#v-pills-bookings" role="tab" aria-controls="v-pills-bookings" aria-selected="true">Bookings</a>
            <a class="nav-link" id="v-pills-buses-tab" data-toggle="pill" href="#v-pills-buses" role="tab" aria-controls="v-pills-buses" aria-selected="false">Buses</a>
            <a class="nav-link" id="v-pills-drivers-tab" data-toggle="pill" href="#v-pills-drivers" role="tab" aria-controls="v-pills-drivers" aria-selected="false">Drivers</a>
            <a class="nav-link" id="v-pills-user-profile-tab" data-toggle="pill" href="#v-pills-user-profile" role="tab" aria-controls="v-pills-user-profile" aria-selected="false">User Profiles</a>
        </div>
    </div>


</div>