<!-- <mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Btal Ride</h2>
            <h4>admin@admin.com</h4>
        </div>
        <img src="../../../../assets/img/admin/download.jpg" alt="admin">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Dashboard</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/bookings">Bookings</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/buses">Buses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/drivers">Drivers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/clients">Clients</a>


    <mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list> -->
