<!-- <nav
id="navbar_top"
class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg shadow-lg p-3 mb-0 rounded rounded"
style="background-color: #364ed9;"
>
<div class="container">
  <a class="navbar-brand border border-light bg-light" routerLink="/"
    ><img src="../../assets/images/logo.png" height="40px" width="100%"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#main_nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav ml-auto">
          <p class="nav-item">
                  <a class="nav-link" routerLink="">History</a>
          </p>
      <div class="dropdown">
        <button
          id="admn"
          class="float-left btn dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          style="color: white;"
          aria-haspopup="true"
          aria-expanded="false"
        >
          User
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Sign Out</a>
        </div>
      </div>
    </ul>
  </div>
</div>
</nav>
<br /><br />
<button class="btn btn-primary" routerLink="/userhome">Go Back</button>

<div class="container p-3 shadow p-3 mb-5 rounded" id="form" *ngFor="let bus of buses">
<p class=" h2 text-center font-weight-italic ">Reserve your Trip</p>
<form name="form ">
  <div class="form-group">
    <label for="bus_name">Bus Name</label>
    <input type="text"  class="form-control" disabled placeholder="{{bus.bus_name}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="sdate">Start Date</label>
      <input type="date" name="sdate" id="" class="form-control" />
    </div>
    <div class="form-group col-md-6">
      <label for="edate">End Date</label>
      <input type="date" name="edate" class="form-control" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="price">Price</label>
      <input type="number" disabled name="price" id="" class="form-control" placeholder="{{bus.price}}" />
    </div>
    <div class="form-group col-md-6">
      <label for="payment">Payment Method</label>
      <select name="payment" id="" class="form-control">
        <option value="COD">Cash on Delivery</option>
        <option value="Paypay">Paypal</option>
        <option value="Paymaya">Paymaya</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="btn btn-primary btn-sm" disabled>
      Book Now
    </button>
    <button type="button" class="btn btn-danger btn-sm" routerLink="/userhome">Cancel</button>
  </div>
</form>
</div>

<app-footer></app-footer> -->




<nav
  id="navbar_top"
  class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg shadow-lg p-3 mb-0 rounded rounded"
  style="background-color: #364ed9;"
>
  <div class="container">
    <a class="navbar-brand border border-light bg-light" routerLink="/"
      ><img src="../../assets/images/logo.png" height="40px" width="100%"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ml-auto">
            <p class="nav-item">
                    <a class="nav-link" routerLink="">History</a>
            </p>
        <div class="dropdown">
          <button
            id="admn"
            class="float-left btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            style="color: white;"
            aria-haspopup="true"
            aria-expanded="false"
          >
            User
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
<br /><br />

<div class="container p-3 shadow p-3 mb-5 rounded" id="form">
  <p class=" h2 text-center font-weight-italic ">Reserve your Trip</p>
  <form name="form ">
    <div class="form-group">
      <label for="bus_name">Bus Name</label>
      <input type="text"  class="form-control" disabled placeholder="{{bus.bus_name}}">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="sdate">Start Date</label>
        <input type="date" name="sdate" id="" class="form-control" />
      </div>
      <div class="form-group col-md-6">
        <label for="edate">End Date</label>
        <input type="date" name="edate" class="form-control" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="price">Price</label>
        <input type="number" disabled name="price" id="" class="form-control" placeholder="{{bus.price}}" />
      </div>
      <div class="form-group col-md-6">
        <label for="payment">Payment Method</label>
        <select name="payment" id="" class="form-control">
          <option value="COD">Cash on Delivery</option>
          <option value="Paypay">Paypal</option>
          <option value="Paymaya">Paymaya</option>
        </select>
      </div>
    </div>
    <div class="form-group ">
      <button type="button " class="btn btn-primary btn-sm " disabled>
        Book Now
      </button>
      <button type="button " class="btn btn-danger btn-sm" routerLink="/userhome">Cancel</button>
    </div>
  </form>
</div>

<app-footer></app-footer>
