
<button class="btn btn-primary" type="submit">Add Driver</button>
<app-add-driver></app-add-driver>
<table class="table p-3">
    <thead class="thead">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">License ID</th>
            <th scope="col">Status</th>
            <th scope="col">Salary</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let driver of drivers">
            <td>{{driver.firstname }}{{driver.lastname}}</td>
            <td>{{driver.contact_number}}</td>
            <td>{{driver.license}}</td>
            <td>{{driver.status}}</td>
            <td>{{driver.salary}}</td>
            <td>
                <button (click) = "UpdateDriver(driver)" class="btn btn-primary">Update</button>
            </td>
            <td><button (click)="deleteDriver(driver)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>