
<div class="container p-5">
<form #addForm="ngForm" (ngSubmit)="addDriver(addForm.value)">
    <div class="form-row">
        <div class="form-group col-md-6">
                <label for="firstNnme">First Name: </label>
                <input [ngModel]="firstname" type="text" name="firstname" id="firstname" class="form-control">
        </div>
        <div class="form-group col-md-6">
                <label for="lastname">Last Name: </label>
                <input [ngModel]="lastname" type="text" name="lastname" id="lastname" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <label for="contact_number">Contact Number: </label>
                <input [ngModel]="contact_number" type="text" name="contact_number" id="contact_number" class="form-control">
        </div>
        <div class="form-group col-md-6">
                <label for="license">License ID: </label>
                <input [ngModel]="license" type="text" name="license" id="license" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <label for="status">Status: </label>
                <input [ngModel]="status" type="text" name="status" id="status" class="form-control">
        </div>
        <div class="form-group col-md-6">
                <label for="salary">Salary: </label>
                <input [ngModel]="salary" type="text" name="salary" id="salary" class="form-control">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-secondary form-control">Cancel</button>
        </div>
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-success form-control">Add Person</button>
        </div>
    </div>
</form>
</div>