<div class="wrapper">

    <!-- Gallery -->
    <div class="img-area">
            <button (click)="addBus()">Add New Button</button>
    </div>
    <div class="img-area mt-5">
        <div class="img-area" *ngFor="let bus of buses">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Action
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">View</a>
                  <a class="dropdown-item" (click) = "update(bus.id)">Edit</a>
                  <a class="dropdown-item" (click) = "delete(bus.id)">Delete</a>
                </div>
              </div>
            <div class="single-img" data-toggle="modal" data-target="#bus1">
                <img src="{{bus.img_url}}" alt="bus1" width="250px" >
                <h5>{{bus.bus_name}}</h5>
            </div>
        </div>
    </div>