<div class="wrapper">

    <!-- Gallery -->
    <div class="img-area">
        <div class="single-img" data-toggle="modal" data-target="#addNewBus">
            <h2>Add New Bus</h2><img src="../../../assets/images/plus.png" alt="Add New Bus" width="250px">
        </div>
    </div>



    <div class="img-area mt-5">
        <div class="img-area" *ngFor="let bus of buses">
            <div class="single-img" data-toggle="modal" data-target="#bus1">
                <h2>Bus {{bus.id}}</h2><img src="{{bus.img_url}}" alt="bus1" width="250px">
                <h5>{{bus.bus_name}}</h5>
            </div>
        </div>
    </div>