<div class="card" style="width: 20%;">
    <div class="card-body">
        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && update()">
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" formControlName="status">
                <div *ngIf="form.get('status').touched && form.get('status').invalid" class="invalid-feedback">
                </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!form.valid">Update Client</button>
            <br>
            <a type="button" class="btn btn-secondary" routerLink="/admin/user-profile">Cancel</a>
        </form>
    </div>
</div>