<table class="table">
    <thead class="thead">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstname }}{{user.lastname}}</td>
            <th scope="row">{{user.contact_number}}</th>
            <td>{{user.address}}</td>
            <td><button>Update</button>
                <button (click)="deleteUser(user)">Delete</button></td>
        </tr>
    </tbody>
</table>