<!-- admin -->
<nav
  id="navbar_top"
  class="navbar navbar-expand-lg navbar-dark sticky-top shadow-lg shadow-lg p-3 mb-0 rounded rounded"
  style="background-color: #364ed9;"
>
  <div class="container">
    <a class="navbar-brand border border-light bg-light"routerLink="/client/register"><img src="../../assets/images/logo.png" height="40px" width="100%"/></a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ml-auto">
          <p class="nav-item">
              <a class="nav-link"routerLink="/client/register">Sign Up</a>
      </p>
      <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Log In
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/client/login">As a User</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/admin/login">As an Admin</a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-img">
    <div class="container d-flex flex-column min-vh-100">
        <div class="row flex-grow-1 justify-content-center align-items-center">
            <div class="col-5">
                <div class="card laban">
                    <div class="card-header">
                        <div class="text white text-center txt">Admin Login Form</div>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status" style="display: none;" id="spinner">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </div>
                    </div>
                    <!-- <img src="../../assets/images/image2.jpg"> -->
                    <div class="card-body">
                        <form name="form" [formGroup]="form" (ngSubmit)="form.valid && login()">
                            <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid':form.get('email').touched && form.get('email').invalid}">
                                <div *ngIf="form.get('email').touched && form.get('email').invalid" class="invalid-feedback">
                                    <div *ngIf="form.get('email').errors.required">Email Name is required</div>
                                    <div *ngIf="form.get('email').errors.email">Email must be a valid email Address</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
                                <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
                                    <div *ngIf="form.get('password').errors.required">Password is required</div>
                                    <div *ngIf="form.get('password').errors.minlength">Password must be a least 6 character</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-block btn-primary" [disabled]="!form.valid" routerLink="admin/dashboard">Log In</button>
                            <p><a href="">forgot your password? </a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>